<%
  if (typeof qstr === 'undefined') { var qstr = ""; }
%>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>bookshelf</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">bookshelf</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link <%= display.activeHome %>" href="/">Home</a>
            <a class="nav-item nav-link <%= display.activeNew %>" href="/posts/new">New</a>
            <a class="nav-item nav-link <%= display.activeDoc %>" href="/doc">Doc</a>
          </div>
          <form class="form-inline my-2 my-lg-0 ml-5" method="GET" action="/">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="<%= qstr %>">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>    
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/signup">Signup</a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
          </div>
          <% if (display.login) { %>
            <span class="navbar-text">userid: <%= display.userid %></span>
          <% } %>
        </div>
      </nav>
    </header>
