<%
  if (typeof qstr === 'undefined') { var qstr = ""; }
  if (typeof reqq === 'undefined') { var reqq = {}; }
%>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>bookshelf</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">bookshelf</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <% if (display.login) { %>
            <a class="nav-item nav-link <%= display.activeHome %>" href="/home">Home</a>
            <a class="nav-item nav-link <%= display.activeNew %>" href="/posts/new">New</a>
            <% } %>
            <a class="nav-item nav-link <%= display.activeDoc %>" href="/doc">Doc</a>
          </div>
          <form id="search_simple" class="form-inline my-2 my-lg-0 ml-5" method="GET">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="q" value="<%= qstr %>">
          </form>

          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
              <form class="px-4 py-3" style="width:300px;">
                <div class="form-group">
                  <label for="name">name</label>
                  <input type="text" class="form-control" id="name" name="name" value="<%= reqq.name %>">
                </div>
                <div class="form-group">
                  <label for="category">category</label>
                  <input type="text" class="form-control" id="category" name="category" value="<%= reqq.category %>">
                </div>
                <div class="mb-3">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="ebookFlg" value="1" <%= reqq.ebookFlg %>>
                    <label class="form-check-label" for="inlineCheckbox1">電子書籍</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="wishFlg" value="1" <%= reqq.wishFlg %>>
                    <label class="form-check-label" for="inlineCheckbox2">ほしい</label>
                  </div>
                </div>
    

                <button type="submit" class="btn btn-success">Search</button>
              </form>
            </div>
          </div>

          <button class="btn btn-outline-success my-2 my-sm-0 ml-2" type="submit" form="search_simple">Search</button>
          
          <div class="navbar-nav">
            <% if (!display.login) { %>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/signup">Signup</a>
            <% } %>
            <% if (display.login) { %>
            <a class="nav-item nav-link" href="/logout">Logout</a>
            <% } %>
          </div>
          <% if (display.login) { %>
            <span class="navbar-text">userid: <%= display.userid %></span>
          <% } %>
        </div>
      </nav>
    </header>
