<%- include('../header'); -%>
    <div class="container">
      <h3 class="title">edit</h3>

      <div class="row">
        <div class="col-6">
          <form method="POST" action="/posts/<%= id %>?_method=put">
            <div class="form-group">
              <label>ISBN</label>
              <svg class="bi bi-question-circle-fill ml-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                data-toggle="tooltip" data-placement="right" data-html="true" data-container="body" title="・ISBN-10を入力すればISBN-13に変換します。<br>・チェックディジットは自動で再計算します。">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.57 6.033H5.25C5.22 4.147 6.68 3.5 8.006 3.5c1.397 0 2.673.73 2.673 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.355H7.117l-.007-.463c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.901 0-1.358.603-1.358 1.384zm1.251 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z"/>
              </svg>
              <input type="number" class="form-control" id="isbn13" name="isbn13" maxlength="13" value="<%= book.isbn13 %>" placeholder="ISBN-13に整形されます">
            </div>
            <div class="form-group">
              <label>name</label><img id="loading" src="/images/loading02_r3_c3.gif" style="margin-left: 10px;display: none;">
              <input type="text" class="form-control" id="name" name="name" value="<%= book.bookname %>">
            </div>
            <div class="form-group">
              <label>category</label>
              <input type="text" list="registered_category" class="form-control custom-select" id="category" name="category" value="<%= book.category %>">
              <!-- 【TODO】リストの管理方法は要検討 -->
              <datalist id="registered_category">
                <option value="C"></option>
                <option value="C#"></option>
                <option value="computer science"></option>
                <option value="design"></option>
                <option value="develop"></option>
                <option value="Git"></option>
                <option value="Java"></option>
                <option value="JavaScript"></option>
                <option value="Linux"></option>
                <option value="management"></option>
                <option value="math"></option>
                <option value="network"></option>
                <option value="novel"></option>
                <option value="Oracle"></option>
                <option value="OS"></option>
                <option value="other"></option>
                <option value="Perl"></option>
                <option value="PowerShell"></option>
                <option value="Python"></option>
                <option value="Ruby"></option>
                <option value="security"></option>
                <option value="Visual Basic"></option>
                <option value="WSH"></option>
                <option value="Windows"></option>
              </datalist>
            </div>
            <div class="btn-group" role="group">
              <button type="button" id="btnGet" class="btn btn-secondary">情報取得</button>
              <button type="button" id="btnGetNDL" class="btn btn-secondary">情報取得(NDL)</button>
            </div>
            <button type="submit" class="btn btn-primary">更新</button>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/javascripts/isbn.js"></script>
    <script type="text/javascript" src="/javascripts/edit.js"></script>
<%- include('../footer'); -%>
