<%- include('../header'); -%>
    <div class="container">
      <h3>edit</h3>

      <div class="row">
        <div class="col-6">
          <form method="POST" action="/posts/<%= id %>?_method=put">
            <div class="form-group">
              <label>ISBN</label>
              <input type="number" class="form-control" id="isbn13" name="isbn13" maxlength="13" value="<%= book.isbn13 %>" placeholder="ISBN-13に整形されます">
            </div>
            <div class="form-group">
              <label>name</label><img id="loading" src="/images/loading02_r3_c3.gif" style="margin-left: 10px;display: none;">
              <input type="text" class="form-control" id="name" name="name" value="<%= book.bookname %>">
            </div>
            <div class="form-group">
              <label>category</label>
              <input type="text" list="registered_category" class="form-control custom-select" id="category" name="category" value="<%= book.category %>">
              <!-- 【TODO】リストの管理方法は要検討 -->
              <datalist id="registered_category">
                <option value="C"></option>
                <option value="C#"></option>
                <option value="computer science"></option>
                <option value="design"></option>
                <option value="develop"></option>
                <option value="Git"></option>
                <option value="Java"></option>
                <option value="JavaScript"></option>
                <option value="Linux"></option>
                <option value="management"></option>
                <option value="math"></option>
                <option value="network"></option>
                <option value="novel"></option>
                <option value="Oracle"></option>
                <option value="OS"></option>
                <option value="other"></option>
                <option value="Perl"></option>
                <option value="PowerShell"></option>
                <option value="Python"></option>
                <option value="Ruby"></option>
                <option value="security"></option>
                <option value="Visual Basic"></option>
                <option value="WSH"></option>
                <option value="Windows"></option>
              </datalist>
            </div>

            <input type="button" id="btnGet" value="情報取得">
            <input type="button" id="btnGetNDL" value="情報取得(NDL)">
            <input type="submit" value="更新">
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/javascripts/isbn.js"></script>
    <script type="text/javascript" src="/javascripts/edit.js"></script>
<%- include('../footer'); -%>
