<%- include('../header'); -%>

<div class="container">
<h1>book list</h1>
<p><a href="/posts/new">add</a></p>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>image</th>
			<th>name</th>
			<th>category</th>
			<th>edit</th>
			<th>del</th>
		</tr>
	</thead>
	<tbody>
		<% for (var i = 0; i < books.length; i++) { %>
			<tr>
				<td><img src="http://images-jp.amazon.com/images/P/<%= books[i].isbn10 %>.09.MZZZZZZZ.jpg"></td>
				<td><%= books[i].bookname %></td>
				<td><%= books[i].category %></td>
				<td><a href="/posts/<%= books[i].id %>/edit">[edit]</td>
				<td>
					<form method="POST" action="/posts/<%= books[i].id %>?_method=delete">
						<input type="submit" value="delete">
					</form>
				</td>
			</tr>
		<% } %>

		<!-- sample
		<tr>
			<td><img src="http://images-jp.amazon.com/images/P/4873118646.09.MZZZZZZZ.jpg"></td>
			<td>初めてのJavaScript</td>
			<td>JavaScript</td>
		</tr>
		-->
	</tbody>
</table>
</div>

<%- include('../footer'); -%>
